.field {
    margin-bottom: 20px;
    label {
        display: flex;
        justify-content: space-between;
        margin-bottom: 6px;
    }
    .error {
        font-size: 13px;
        padding: 4px;
        background-color: #F24E1E;
    }
}