@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

body {
	background-color: #000;
	font-family: 'Kumbh Sans', sans-serif;
	color: #fff;
}

.calc-wrap {
	padding: 100px 0;
}